.property-image {
  height: 250px;
  background-size: cover;
  background-position: center;
  
  @media (min-width: 768px) {
    height: 400px;
  }
}


///BOOKING TABLE///

.bookingListLayout {
  border-radius: 15px;
}

.noHover {
  pointer-events: none;
}

#tableDelete {
  pointer-events: all;
}

#tableDelete:hover {
  color: rgb(226, 0, 0);
  border: none;
  
}

.deleteBkgd {
  background-color: rgba(255, 0, 0, 0.123) !important;
}

.focus-warning {
  border: 1px solid red !important;
}

.editIcon {
  color:#1b3670a4;
  font-size: 0.8rem;
}
///END BOOKING TABLE///


/// HOST LISTINGS ///
#plusIcon {
  font-size: 2.2rem;
}

#hostListing {
  border-radius: 100%;
  width: 45px; 
  height: 45px; 
  object-fit: cover;
  object-position: 50% 50%; 
  border: 1px solid #1b367073;
}

.hostProperty {
  height: 150px;
  width: 150px;
}

///END HOST LISTINGS ///