body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
  font-size: 500px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
}
//NAVBAR
.navStyle {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px !important;
}

.navProfile {
  display: inline-flex !important;
  color: #717171;
  height: 42px;
  width: 77px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0% !important;
  border: 1px solid rgb(221, 221, 221) !important;
  line-height: 20px;
  border-radius: 21px !important;
  align-items: center !important;
  vertical-align: middle !important;
  padding: 5px 5px 5px 12px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px !important;
}

#loginNav {
  color: #1b3670;
}

#navMenu {
  margin-top: 10px;
  border-radius: 15px;
  color: black !important;
  width: 240px;
}

.dropdown-divider {
  margin-left: -10px !important;
}

.usrImg {
  font-size: 1.9rem;
  height: 30px;
  width: 30px;
}

#thumbnail {
  border-radius: 100%;
  width: 30px; 
  height: 30px; 
  object-fit: cover;
  object-position: 50% 50%; 
  border: 1px solid #1b367073;
}

#usrBars {
  height: 16px;
  width: 16px;
}
.dropdown-toggle::after {
  content: none !important;
}
//END NAVBAR

//GENERAL STYLING //
.linkStyle{
  color: #008489 !important;
  font-weight: 700px !important;
}
.styleContainer {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px !important;
  border-radius: 8px !important;
}
// END GENERAL STYLING //

//PROFILE//

#avatarProfile {
  height: 25%;
  width: 100%;
  color: #717171;
}



#avatarImg {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px !important;
}
//END PROFILE//

//PROPERTY LISTING
.property {
  .property-image {
    background-size: cover;
    background-position: center;
  }
}

.homePropImage {
  object-fit: cover; 
  width: 100%;
  height: 100%;
  opacity: 0;
}

.propImage {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  opacity: 0;
}

.img-visible {  
  animation: fadeIn 1s linear;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
//END PROPERTY LISTING



// FOOTER 
#footer {
//  position: relative;
//  bottom: 0;
//  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px !important;  
}

.custFooter {
  max-height: 56px !important;

}
// END FOOTER 




//TRIPS - BOOKINGS LIST
.cancelled {
  background-color: rgb(100, 100, 100);
}
.past {
  background-color: rgb(187, 184, 184);
}
.upcoming {
  background-color: #b0ffc4;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
// END TRIPS




///ACCOUNT DASHBOARD ///
.dashItem {
  max-width: 300px;
  min-width: 200px;  
  max-height: 200px;
  min-height: 125px;
  border-radius: 8px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px !important;
}

.dashItem:hover {
  background-color: #f8f9fa !important;
}
//END ACCOUNT DASHBOARD ///